{{#each erros}}
    <div class="alert alert-danger text-center mt-4 mx-auto" style="width: 60%;">{{texto}}</div>
{{else}}
{{/each}}
<div class="container card mt-5 mb-5 text-center" style="min-height: 100vh;">
    <h3>Adicionar Novo Post</h3>
<div class="card-body mx-auto" style="width: 60%;">
    <form action = "/admin/post/post-validation" method = "POST" style="text-align: left !important;">
    <div class="mb-3">
        <label for="titlePost" class="form-label">titulo do Post</label>
        <input type="text" class="form-control" id="titlePost" name = "titlePost" placeholder = "Titulo da sua cartegoria">
    </div>
    <div class="mb-3">
        <label for="slugPost" class="form-label">slug do post</label>
        <input type="text" class="form-control" id="slugPost" name = "slugPost" placeholder = "Slug da sua cartegoria">
    </div>
    <div class="mb-3">
        <label for="descriptionPost" class="form-label">Descrição do post</label>
        <textarea name="descriptionPost" placeholder="Insira a descrição aqui!" class="form-control"></textarea>
    </div>
    <div class="mb-3">
        <label for="contentPost" class="form-label">Conteúdo do post</label>
        <textarea name="contentPost" placeholder="Insira o conteúdo aqui!" class="form-control"></textarea>
    </div>
    <div class="mb-3">
        <label for="cartegoria" class="form-label">Cartegoria</label>
        <select name="cartegoria" class="form-control">
            {{#each cartegorias}}
                <option value="{{_id}}">{{nome}}</option>
            {{else}}
                <option value="0">Nenhuma cartegoria Registrada</option>
            {{/each}}
        </select>
    </div>
    <button type="submit" class="btn btn-primary">Cadastrar</button>
</form>
</div>
</div>