<div style="min-height:100vh;">
<div class="p-5 mb-4 bg-light rounded-3 container mt-4">
      <div class="container-fluid py-5 text-center" style="width: 60%;">
        <h1 class="display-5 fw-bold text-center">Example blog</h1>
        <p class="fs-4 mt-4">Olá, bem-vindo ao <strong>Example Blog</strong> construído por <a href="https://github.com/MurilloSSJ">Murillo Santhiago</a>.<p>
        <p class="fs-4">Nesse projeto utilizei:</p></p>
        <p><strong>Back-end</strong></p>
        <p>Mongo + Node + Express</p>
        <p><strong>Front-end</strong></p>
        <p>Bootstrap + handlebars</p>
        <div class="text-center mt-5">
        <a href="/users/registro"><button class="btn btn-dark btn-lg text-center" type="button">Crie uma conta!</button></a>
        </div>
      </div>
</div>
<div class="container text-center">
    <h2>Ultimos Posts:</h2>
    <div class="my-4">
        {{#each post}}
        <div class="card my-2 mx-2" style="width: 100%; display:inline-block;">
            <div class="card-body text-start">
                <h4 class="text-center">{{title}}</h4>
                <hr style="width: 30%;" class="mx-auto">
                <small><strong>{{cartegory.nome}}</strong></small>
                <br>
                <p>{{description}}</p>
                <br>
                <small>{{date}}</small>
                <br>
                <div class="text-center">
                    <a href="/posts/{{slug}}"><button class="btn btn-dark">Leia Mais</button></a>
                </div>
                
            </div>
        </div>
        {{/each}}
    </div>
</div>

</div>